@model DetailsServiceViewModel

@{
    ViewData["Title"] = Model.Title;

    string actors = string.Join(", ", Model.ActorNames
                     .Select(x => x.FirstName + " " + x.LastName));

    var movieId = ViewContext.RouteData.Values["id"];

    var userId = AppExtensions.GetUserId(this.User);
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @this.TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}

<div class="row">
    <div class="col-md-10 embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item"
                src="@Model.MovieUrl"
                title="Georges video player"
                allowfullscreen>
        </iframe>
    </div>
    <div class="col-md-2 float-right">
        <h2>Time:</h2>
        <p>@Model.Time</p>

        <h2>Year of premiere:</h2>
        <h4>@Model.Year</h4>

        <h3>Director:</h3>
        <div>@Model.DirectorName</div>
        <br />
        <h3>Actors:</h3>
        <span>@(actors.Any() ? actors : "No actors")</span>
    </div>

</div>
<div class="mb-3"></div>

<h2>@Model.Title</h2>

<div class="mb-3"></div>


<div class="mb-3"></div>
<h4>Description:</h4>
<p>@Model.Review</p>

<div class="mb-3"></div>

@*<partial name="~/Views/Comment/_PostPartial.cshtml" model="@Model.Comment" />*@
<form method="post" id="postComment">
    <div class="form-group col-md-4">
        <label asp-for="Comment.Message" class="font-weight-bold">Enter comment</label>
        <input class="form-control" id="messageValue" asp-for="Comment.Message" placeholder="Comment...">
        <span asp-validation-for="Comment.Message" class="small text-danger"></span>

        <button type="submit"
                class="btn btn-primary">
            Post
        </button>

    </div>
</form>

<div class="mb-4"></div>

<div id="allComments">
    @*<partial name="~/Views/Comment/_AllPartial.cshtml" model="@Model.AllComments" />*@
</div>



@section Scripts{
    <script>

        window.onload = (event) => {
            $("#allComments").load("/Comment/AllByMovie/", { movieId: @movieId });
        };


        const formElement = document.getElementById('postComment');

        formElement.addEventListener('submit', postMessage);

        @*async function postMessage(event) {
            event.preventDefault();

            const messageValue = document.getElementById('messageValue').value;


            const model = {
                message: messageValue,
                movieId: @movieId
            };

            const res = await fetch('/api/CommentApi', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(model)
            });

        }*@
         $('#postComment').on('submit', event => {
            event.preventDefault();

            const messageValue = document.getElementById('messageValue').value;

            const model = {
                message: messageValue,
                movieId: @movieId
                };

             $.ajax({
                 type: "POST",
                 url: "/api/CommentApi",
                 contentType: "application/json",
                 data: JSON.stringify(model),
                 success: function (data) {


                     $("#allComments").html(data);

                     document.getElementById('messageValue').value = '';
                 }
             });
        });
    </script>
}