@model GeorgesMovies.Services.Movies.DTO.ManageServiceViewModel

@{
    ViewData["Title"] = "Manage Movies";
}
<h2 class="text-center">Manage Movies</h2>
<br />
<a class="btn btn btn-success float-right" asp-area="" 
   asp-controller="Movie"
   asp-action="Add">+ Add Movie
    </a>
<br />
<br />
<a class="btn btn btn-secondary float-right" asp-area=""
   asp-controller="Actor"
   asp-action="Add">+ Add Actor to movie
    </a>

<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Rating</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.ManageList)
        {
            <tr>
                <th>@movie.Title</th>
                <td>@movie.Genre</td>
                <td>@movie.Rating</td>
                <td>
                    <form method="post">
                        <a class="btn btn-warning"
                           asp-area="" 
                           asp-controller="Movie"
                           asp-action="Edit"
                           asp-route-id="@movie.Id">
                            Edit
                        </a>
                        <button type="submit"
                                class="btn btn-danger"
                                asp-area="" 
                                asp-controller="Movie"
                                asp-action="Delete"
                                asp-route-id="@movie.Id">
                            Delete
                        </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>